[submodule "Engine/src/Ignite"]
	path = Engine/src/Ignite
	url = https://github.com/SumishiM/Ignite.git
[submodule "Engine/src/Scribe"]
	path = Engine/src/Scribe
	url = https://github.com/SumishiM/Scribe.git
[submodule "Engine/src/Coral"]
	path = Engine/src/Coral
	url = https://github.com/SumishiM/Coral.git
